.user-function-filter-container{
    .blue-text {
        color: var(--colors-use-primary, #2862AF);
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}